* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.comboTopBody {
  padding-top: 50px;
}

.comboTopTop {
  display: flex;
  padding-inline: 1%;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.comboTopBody1 {
  width: 340px;
  height: 230px;
  padding: 20px;
  overflow: hidden;
  background-color: rgb(147, 109, 196);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.comboPizza {
  width: 280px;
  margin-left: 140px;
  margin-top: 18px;
  z-index: 1;
  transition: ease 1s;
}

.comboPizza:hover {
  transform: scale(1.1);
}

.comboTopBodyCont {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  margin: 20px;
  box-sizing: border-box;
  height: 190px;
  justify-content: space-between;
}

.comboTopBody1Title {
  z-index: 2;
}

.comboTopBody1Title p {
  color: white;
  font-family: poppins;
  font-weight: 700;
  font-size: 32px;
  width: 180px;
  line-height: 30px;
}

.comboTopBody1Btn {
  z-index: 2;
  margin-top: 30px;
}

.comboTopBody1Btn button {
  padding: 15px 32px;
  border-radius: 8px;
  border: none;
  font-size: 12.5px;
  font-weight: 700;
  background-color: rgb(255, 194, 34);
}

.comboTopBody1Btn button:hover {
  background-color: black;
  color: white;
}

.comboTopBody2 {
  width: 410px;
  height: 270px;
  overflow: hidden;
  background-color: rgb(241, 80, 44);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comboPizza2 {
  width: 300px;
  z-index: 1;
  transition: ease 1s;
}

.comboPizza2:hover {
  transform: scale(1.1);
}

.comboTopBodyCont2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  margin: 20px;
  box-sizing: border-box;
  height: 230px;
  width: 350px;
  justify-content: space-between;
}

.comboPizza3 {
  width: 240px;
  z-index: 1;
  transition: ease 1s;
}

.comboPizza3 :hover {
  transform: scale(1.2);
}

.comboTopBody2Title {
  margin-top: 20px;
  width: 350px;
  display: flex;
  justify-content: center;
}

.comboTopBody2Title p {
  color: white;
  font-family: poppins;
  font-weight: 700;
  font-size: 33px;
  line-height: 30px;
}

.comboTopBody1Btn2 {
  z-index: 2;
  display: flex;
  align-items: center;
  width: 280px;
  justify-content: space-between;
}

.comboTopBody1Btn2 button {
  padding: 15px 32px;
  border-radius: 8px;
  border: none;
  font-size: 12.5px;
  font-weight: 700;
  background-color: rgb(255, 194, 34);
}

.comboTopBody1Btn2 button:hover {
  color: white;
  background-color: black;
}

.comboTopBody1Btn2 p {
  color: white;
  font-family: poppins;
  font-size: 22px;
  font-weight: 600;
}

.comboTopBody3 {
  width: 340px;
  height: 230px;
  padding: 20px;
  overflow: hidden;
  background-color: rgb(45, 176, 178);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.comboTopBody3Title1 {
  font-family: Norican, sans-serif;
  font-size: 31px;
  color: white;
}

.comboTopBody3Title2 {
  color: white;
  font-family: poppins;
  font-weight: 700;
  font-size: 31px;
  width: 250px;
  line-height: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.comboTopBody3Title3 {
  color: white;
  font-size: 14px;
  font-family: poppins;
}

.comboTopBottom {
  padding-inline: 3%;
}

.comboTopBottomMain {
  margin-top: 30px;
  padding-left: 80px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: rgb(0, 161, 73);
}

.comboTopBottom1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.comboTopBottom1Select {
  display: flex;
  width: max-content;
  position: relative;
  box-sizing: border-box;
}

.comboTopBottom1Select select {
  width: 240px;
  height: 55px;
  border-radius: 8px;
  padding-inline: 15px;
  outline: none;
  appearance: none;
  color: white;
  font-family: poppins;
  border-color: rgba(255, 255, 255, 0.3);
  font-size: 14.5px;
  background-color: rgb(0, 161, 73);
}

.comboTopBottom1Select select:focus {
  border-color: rgb(255, 194, 34);
}

.comboTopBottom1Select option {
  font-size: 14.5px;
  font-family: poppins;
  background-color: white;
  color: rgb(142, 142, 142);
  box-shadow: 2px 2px 0;
}

.comboTopBottom1SelectIcon {
  position: absolute;
  right: 0;
  width: 20px;
  height: 100%;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.comboTopBottom1SelectIcon i {
  color: white;
}

.comboTopBottom1 input {
  width: 230px;
  height: 44px;
  border-radius: 8px;
  padding-inline: 15px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  outline: none;
  color: white;
  font-family: poppins;
  font-size: 14px;
  background-color: rgb(0, 161, 73);
}

.comboTopBottom1 input:focus {
  border-color: rgb(255, 194, 34);
}

.comboTopBottom1 input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-family: poppins;
  letter-spacing: 1px;
}

.comboTopBottomBtn button {
  padding: 20px 55px;
  border-radius: 8px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  background-color: rgb(255, 194, 34);
}

.comboTopBottomBtn button:hover {
  color: white;
}

.comboTopBottom2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.comboTopBottom2 p {
  color: white;
  font-family: poppins;
  font-size: 14px;
}

.comboTopBottom2 p span {
  color: rgb(255, 194, 34);
  font-weight: 700;
  font-size: 16px;
}
