.hotFreshMainFav1 {
  padding: 3%;
  width: 265px;
  height: 460px;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(205, 205, 205);
  background-color: white;
  position: relative;
}

.hotFreshMainFav1Sale {
  position: absolute;
  z-index: 2;
  padding: 3px 8px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  color: white;
  top: 20px;
  left: 20px;
  background-color: black;
}

.hotFreshMainFav1Heart {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  color: rgb(205, 205, 205);
}

.hotFreshMainFav1Heart i {
  font-size: 20px;
}

.hotFreshMainFav1ImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 275px;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  transition: ease-in-out;
}

.hotFreshMainFav1ImgHov {
  width: 100%;
  height: 50%;
  border-radius: 20px;
  z-index: 1;
  margin-top: 50%;
  position: absolute;
  background-color: rgba(255, 194, 34, 0.2);
}

.hotFreshMainFav1ImgHov:hover {
}

.hotFreshMainFav1ImgDiv img {
  width: 200px;
  z-index: 2;
  transition: 0.2s ease;
}

.hotFreshMainFav1ImgDiv img:hover {
  transform: scale(1.5);
}

.hotFreshMainFav1Star {
  display: flex;
  margin-top: 20px;
  padding-inline: 10px;
}

.hotFreshMainFav1Star i {
  font-size: 13px;
  margin-right: 2px;
  color: rgb(255, 194, 34);
}

.hotFreshMainFav1TitleDiv {
  padding-inline: 10px;
  margin-top: 15px;
}

.hotFreshMainFav1Title1 {
  font-size: 16px;
  font-weight: 700;
  font-family: poppins;
}

.hotFreshMainFav1Title1:hover {
  color: rgb(255, 194, 34);
}

.hotFreshMainFav1Title2 {
  margin-top: 10px;
  font-size: 13px;
  font-family: poppins;
  color: rgb(128, 128, 128);
}

.hotFreshMainFav1PriceDiv {
  padding-inline: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.hotFreshMainFav1PriceDiv1 {
  display: flex;
  align-items: center;
}

.hotFreshMainFav1Price1 {
  font-size: 16px;
  font-weight: 600;
  font-family: poppins;
  text-decoration: line-through;
  color: rgb(128, 128, 128);
  margin-right: 10px;
}

.hotFreshMainFav1Price2 {
  font-size: 19px;
  font-weight: 700;
  font-family: poppins;
  color: rgb(255, 194, 34);
}

.hotFreshMainFav1PriceDiv2 i {
  padding: 12px 12px;
  border-radius: 15px;
  font-size: 14px;
  background-color: rgb(255, 194, 34);
  cursor: pointer;
}

.hotFreshMainFav1PriceDiv2 i:hover {
  color: white;
  background-color: rgb(226, 165, 10);
}
