.menuMain1 {
  padding: 1%;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(215, 213, 213);
  border-radius: 30px;
  cursor: pointer;
}

.menuMain1Sub {
  padding: 1%;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  background-color: rgb(255, 248, 232);
  position: relative;
}

.menuMain1Sub1 {
  width: 250px;
  margin-right: 15px;
}

.menuMain1Sub1 img {
  width: 200px;
  align-self: center;
}

.menuMain1Sub2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.menuMainSubContent {
  height: 140px;
  overflow: hidden;
}

.menuMain1Sub2-1 {
  font-size: 22px;
  font-family: poppins;
  font-weight: 600;
}

.menuMain1Sub2Star {
  margin-top: 5px;
  display: flex;
}

.foodCardStar {
  font-size: 16px;
  margin-right: 2px;
  color: rgb(255, 194, 34);
}

.foodCardStar2 {
  font-size: 16px;
  margin-right: 2px;
  color: rgb(235, 235, 235);
}

.menuMain1Sub2Info {
  height: 120px;
  overflow: hidden;
  background-color: lightblue;
}

.menuMain1Sub2-2 {
  margin-top: 10px;
  font-size: 14.5px;
  width: 320px;
  color: rgb(128, 128, 128);
  font-family: poppins;
  line-height: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menuMain1Sub2-3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  font-family: poppins;
  color: rgb(255, 194, 34);
}

.menuBasket {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.menuBasket i {
  padding: 12px 12px;
  border-radius: 15px;
  font-size: 14px;
  background-color: rgb(255, 194, 34);
  cursor: pointer;
}

.menuBasket i:hover {
  color: white;
  background-color: rgb(226, 165, 10);
}
