* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cartDiv {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2000;
}

.cartShadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.484);
}

.shoppingCart {
  display: grid;
  grid-template-rows: 75px 1fr;
  height: 100%;
  width: 430px;
  background-color: white;
  padding-inline: 1%;
}

.showShoppingCart {
  display: flex;
}

.exitShoppingCart {
  display: none;
}

.shoppingCartTop {
  height: 100%;
  background-color: lightseagreen;
}

.shoppingCart2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(216, 213, 213);
}

.shoppingCart1-1 {
  font-size: 19px;
  font-family: poppins;
  font-weight: 600;
}

.shoppingCart1-2 {
  display: flex;
  width: 60px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.shoppingCart1-2 p {
  font-size: 13.5px;
  font-family: poppins;
  font-weight: 600;
}

.shoppingCart1-2mark1 {
  display: flex;
}

.shoppingCart3 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.shoppingCart3 p {
  font-size: 17px;
  font-family: poppins;
  color: rgb(167, 166, 166);
}

.cartMajor {
  display: grid;
  grid-template-rows: 320px 700px;
}

.cartItemMain {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.cartItemMain::-webkit-scrollbar {
  width: 5px;
}

.cartItemMain::-webkit-scrollbar-track {
  background-color: rgb(248, 245, 240);
}

.cartItemMain::-webkit-scrollbar-thumb {
  background-color: rgba(255, 192, 34);
  border-radius: 5px;
}

.emptyCartDiv {
  margin-top: 30px;
  display: flex;
  height: max-content;
  justify-content: center;
}

.emptyCart {
  font-family: poppins;
  font-size: 16px;
  color: rgb(167, 167, 167);
}

.cartItemMain {
}

.CartItem {
  display: flex;
  flex-direction: row;
  padding-block: 2%;
  align-items: center;
  height: 70px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(213, 211, 211);
}

.CartItem1 {
  margin-right: 10px;
}

.CartItem1 i {
  font-size: 15px;
  color: rgb(184, 182, 182);
  cursor: pointer;
}

.CartItem2 {
  margin-right: 10px;
  display: flex;
}

.CartItem2 img {
  width: 60px;
  padding: 0px 2px;
  border-radius: 20px;
  background-color: rgb(235, 233, 233);
}

.CartItem3 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.CartItem3-1 {
  margin-top: 8px;
  font-family: poppins;
  font-size: 14px;
}

.CartItem3-2 {
  margin-top: 3px;
  font-family: poppins;
  font-size: 13.5px;
}

.CartItem3-2 span {
  font-family: poppins;
  font-size: 13.5px;
  color: rgb(255, 194, 34);
}

.cartCalculator {
  display: flex;
  flex-direction: column;
  padding-block: 15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: rgb(213, 211, 211);
}

.cartCalculator1 {
  display: flex;
  justify-content: space-between;
}

.cartCalculator1 small {
  font-family: poppins;
  font-weight: 600;
  font-size: 17px;
}

.cartCalculator1 p {
  font-family: poppins;
  font-weight: 600;
  font-size: 18px;
}

.cartCalculator2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.cartCalculator2 button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: poppins;
  font-weight: 600;
  background-color: rgb(255, 194, 34);
  cursor: pointer;
}

.cartCalculator2 button:hover {
  color: white;
}

.cartCalculator3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.cartCalculator3 button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: poppins;
  font-weight: 600;
  border-width: 1.5px;
  border-style: solid;
  background-color: white;
  cursor: pointer;
}

.cartCalculator3 button:hover {
  background-color: black;
  color: white;
}

.userCard {
  position: fixed;
  width: 320px;
  margin-top: 80px;
  right: 140px;
  z-index: 2000;
  flex-direction: column;
}
.showCard {
  display: flex;
}
.closeCard {
  display: none;
}
.userCard1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: rgb(255, 194, 34);
}

.userCard2 {
  padding-inline: 4%;
  padding-block: 30px;
  background-color: rgb(30, 29, 35);
}

.userCard2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userCard2-1 {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.userCard2-1 a {
  text-decoration: none;
}

.userCard2-1Txt1 {
  color: rgb(153, 153, 153);
  font-size: 17.5px;
  font-family: poppins;
}

.userCard2-1Txt2 {
  color: rgb(255, 194, 34);
  font-size: 14.5px;
  margin-left: 4px;
  font-family: poppins;
  cursor: pointer;
  text-decoration: none;
}

.userCard2-1Txt2:hover {
  text-decoration: underline;
}

.userCard2-2 {
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userCard2-2Div {
  width: 100%;
}

.userCard2-2 p {
  color: rgb(128, 128, 128);
  font-size: 13.5px;
  font-family: poppins;
  align-items: flex-start;
}

.userCard2-2 p span {
  color: rgb(169, 9, 9);
}

.userCard2-2 input {
  margin-top: 5px;
  width: 260px;
  height: 50px;
  outline: none;
  border: none;
  padding-inline: 15px;
  border-radius: 10px;
  font-family: poppins;
  font-size: 15px;
  color: rgb(128, 128, 128);
}

.userCard2-2 input::placeholder {
  font-size: 15px;
  font-family: poppins;
}

.userCard2-3 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.userCard2-3 button {
  margin-top: 15px;
  height: 50px;
  width: 290px;
  border: none;
  border-radius: 10px;
  font-family: poppins;
  font-size: 12px;
  font-weight: 600;
  color: black;
  background-color: rgb(255, 194, 34);
  cursor: pointer;
}

.userCard2-3 button:hover {
  color: white;
  background-color: rgb(226, 165, 10);
}

.userCard2-4 {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userCard2-4 a {
  text-decoration: none;
}

.userCard2-4-1 {
  font-family: poppins;
  font-size: 13.5px;
  color: rgb(255, 194, 34);
  cursor: pointer;
  width: max-content;
}

.userCard2-4-1:hover {
  text-decoration: underline;
}

.userCard2-4-2 {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: max-content;
  color: white;
}

.userCard2-4-2:hover {
  color: rgb(255, 194, 34);
}

.userCard2-4ii {
  font-family: poppins;
  font-size: 13.5px;
  margin-right: 5px;
}

.userCard2-4i {
  font-size: 17px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding-inline: 2%;
}

.navBarQ {
  display: none;
}

.leftNav {
  display: flex;
  justify-content: center;
  width: max-content;
}

.leftNav img {
  width: 150px;
  cursor: pointer;
}

.midNav1Search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
  padding-block: 10px;
  width: 320px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(162, 23, 28);
  border-radius: 25px;
}

.midNav1Search input {
  border: none;
  height: 18px;
  outline: none;
  font-size: 12.5px;
  font-family: poppins;
  color: rgb(128, 128, 128);
}

.midNav1Search input::placeholder {
  font-family: poppins;
  font-size: 12px;
  color: rgb(147, 147, 147);
}

.midNav1Search i {
  font-size: 15px;
  margin-right: 15px;
}

.midNav2 {
  display: flex;
}

.midNav2L {
  display: flex;
  margin-right: 30px;
  align-items: center;
}

.midNav2R {
  display: flex;
  align-items: center;
}

.midNav2L1,
.midNav2R1 {
  margin-right: 10px;
}

.midNav2L1 img {
  width: 40px;
}

.midNav2R1 img {
  width: 40px;
}

.midNav2L2-1,
.midNav2R2-1 {
  font-family: poppins;
  font-size: 13px;
  font-weight: 600;
}

.midNav2L2-2,
.midNav2R2-2 {
  font-family: poppins;
  font-size: 12px;
  color: rgb(153, 153, 153);
}

.rightNav {
  display: flex;
}

.rightNavUser2 {
  display: none;
}

.rightNavUser i {
  padding: 15px 17px;
  color: black;
  font-size: 16px;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(202, 202, 202);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.rightNavUser i:hover {
  background-color: rgb(255, 194, 34);
  border-color: rgb(255, 194, 34);
}

.rightNavUserImg2 {
  display: none;
}

.rightNavUserImg {
  margin-right: 10px;
}

.rightNavUserImg img {
  width: 49px;
  height: 46px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(162, 23, 28);
}

.rightNavLike {
  position: relative;
}

.rightNavLike a {
  color: black;
}

.rightNavLikeCount {
  font-family: poppins;
  position: absolute;
  padding: 0px 4px;
  font-size: 10px;
  font-weight: 700;
  border-radius: 15px;
  right: 17px;
  top: 12px;
  background-color: rgb(222, 168, 32);
}

.rightNavLike i {
  padding: 15px 16px;
  color: black;
  font-size: 16px;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(202, 202, 202);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.rightNavLike i:hover {
  background-color: rgb(255, 194, 34);
  border-color: rgb(255, 194, 34);
}

.rightNavCart {
  position: relative;
}

.rightNavCartCount {
  font-family: poppins;
  position: absolute;
  padding: 0px 4px;
  font-size: 10px;
  font-weight: 700;
  border-radius: 15px;
  right: 8px;
  top: 12px;
  background-color: rgb(222, 168, 32);
}

.rightNavCart i {
  padding: 15px 15px;
  color: black;
  font-size: 16px;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 50%;
  border-color: rgb(202, 202, 202);
  cursor: pointer;
}

.rightNavCart i:hover {
  background-color: rgb(255, 194, 34);
  border-color: rgb(255, 194, 34);
}

.buttomNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2%;
  height: 90px;
  background-color: rgb(162, 23, 28);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.buttomNavL {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.buttomNavL a {
  text-decoration: none;
}

.buttomNavL p {
  color: rgb(241, 224, 224);
  font-size: 15px;
  font-family: poppins;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.buttomNavL p:hover {
  color: rgb(255, 194, 34);
}

.buttomNavR1 {
  display: flex;
  align-items: center;
}

.buttomNavR1 i {
  font-size: 13px;
  color: white;
  margin-right: 5px;
}

.buttomNavR1 p {
  font-size: 13px;
  color: white;
  font-family: poppins;
}

.buttomNavR2 {
  font-size: 22px;
  color: rgb(255, 194, 34);
  font-family: poppins;
  font-weight: 600;
}
