.menuPrev {
}

.menuPrevHead {
  background-color: rgb(248, 245, 240);
}

.menuPrevHead1 {
  padding-inline: 2%;
  margin-top: 20px;
  height: 60px;
  display: flex;
  align-items: center;
}

.menuPrevHead1 small {
  font-size: 15px;
  font-family: poppins;
  color: rgb(131, 131, 131);
  margin-right: 5px;
}

.menuPrevHead1 p {
  font-size: 15px;
  font-family: poppins;
  color: rgb(131, 131, 131);
  margin-right: 5px;
}

.menuPrevHead1 span {
  font-size: 15px;
  font-family: poppins;
  font-weight: 500;
}

.menuPrevHead1 i {
  font-size: 10px;
  color: rgb(131, 131, 131);
  margin-right: 5px;
}

.menuPrevMain {
  margin-block: 70px;
  padding-inline: 2%;
  display: grid;
  grid-template-columns: 49% 48%;
  justify-content: space-between;
}

.menuPrevMainL {
  background-color: rgb(248, 245, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.menuPrevMainL img {
  width: 100%;
}

.menuPrevMainRTop1 {
  font-size: 47px;
  font-family: poppins;
  font-weight: 600;
}

.menuPrevMainRTop2 {
  margin-top: 10px;
  display: flex;
}

.menuPrevMainRTop2-1 {
  margin-left: 10px;
  font-size: 13.5px;
  font-family: poppins;
  color: rgb(169, 166, 166);
}

.menuPrevMainRTop3 {
  margin-top: 30px;
  font-size: 15px;
  font-family: poppins;
  width: 550px;
  line-height: 25px;
  color: rgb(131, 131, 131);
}

.menuPrevMainRTop4 {
  margin-top: 20px;
  font-size: 28px;
  font-family: poppins;
  font-weight: 600;
  color: rgb(255, 194, 34);
}

.menuPrevMainRMid {
  margin-top: 10px;
  display: flex;
  height: 50px;
  padding-block: 15px;
  justify-content: space-between;
  align-items: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(210, 206, 206);
  border-top-color: rgb(210, 206, 206);
}

.menuPrevMainRMid1 {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}

.menuPrevMainRMid1 p {
  font-size: 16px;
  font-family: poppins;
  font-weight: 700;
}

.menuPrevMainRMid1Icon {
  padding: 7px 11px;
  border-radius: 50%;
  background-color: rgb(248, 245, 240);
  color: black;
  cursor: pointer;
}

.menuPrevMainRMid1Icon :hover {
  color: rgb(255, 194, 34);
}

.menuPrevMainRMid1Icon i {
  font-size: 12px;
  border-radius: 50%;
}

.menuPrevMainRMid2 {
}

.menuPrevMainRMid2 button {
  display: flex;
  width: 370px;
  height: 50px;
  border: none;
  color: black;
  background-color: rgb(255, 194, 34);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.menuPrevMainRMid2 button:hover {
  color: white;
}

.menuPrevMainRMid2 button p {
  font-size: 13px;
  font-family: poppins;
  font-weight: 600;
}

.menuPrevMainRMid2 button i {
  font-size: 13px;
  margin-right: 5px;
}

.menuPrevMainRMid3 {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menuPrevMainRMid3 i {
  padding: 18px;
  border-radius: 10px;
  color: red;
  font-size: 15px;
  background-color: rgb(248, 245, 240);
}

.menuPrevMainRBottom {
  display: flex;
  align-items: center;
  height: 150px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(210, 206, 206);
}

.menuPrevMainRBottom ul li {
  font-size: 14.5px;
  font-family: poppins;
  width: 550px;
  line-height: 25px;
  color: rgb(131, 131, 131);
}

.menuPrevMainRBottom2 {
  margin-top: 20px;
  height: 100px;
  display: flex;
  align-items: center;
}

.menuPrevMainRBottom2 p {
  font-size: 14px;
  font-family: poppins;
  font-weight: 600;
  margin-right: 50px;
}

.menuPrevMainRBottom2 img {
  width: 220px;
}

.menuPrevMainMid {
  margin-bottom: 100px;
}

.menuPrevMainMidHead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuPrevMainMidHead1 {
  font-size: 22px;
  font-family: poppins;
  font-weight: 600;
  margin-right: 10px;
  padding: 12px 35px;
  border-radius: 10px;
  background-color: rgb(255, 194, 34);
  cursor: pointer;
}

.menuPrevMainMidHead2 {
  font-size: 22px;
  font-family: poppins;
  font-weight: 600;
  margin-right: 10px;
  padding: 12px 35px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.menuPrevMainMidHead2:hover {
  background-color: rgb(255, 194, 34);
}

.menuPrevMainMain {
  display: flex;
  flex-direction: column;
  padding-inline: 10%;
}

.menuPrevMainMain1 {
  margin-top: 50px;
  width: 1000px;
  font-size: 15px;
  font-family: poppins;
  line-height: 30px;
  color: rgb(131, 131, 131);
}

.menuPrevMainMain2 {
  margin-top: 10px;
  width: 1000px;
  font-size: 15px;
  font-family: poppins;
  line-height: 30px;
  color: rgb(131, 131, 131);
}

.menuPrevMainMain2 span {
  font-size: 15px;
  font-family: poppins;
  line-height: 30px;
  color: rgb(131, 131, 131);
  font-weight: 600;
}

.menuPrevMainMain3 {
  display: grid;
  grid-template-columns: 150px 1fr;
  margin-top: 40px;
}

.menuPrevMainMain3-1 {
  height: 110px;
  padding-top: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(210, 206, 206);
}

.menuPrevMainMain3-1 p {
  font-size: 17px;
  font-family: poppins;
  font-weight: 600;
  margin-bottom: 5px;
  width: 130px;
}

.menuPrevMainMain3-1 small {
  font-size: 14px;
  font-family: poppins;
  color: rgb(93, 93, 93);
}

.menuPrevMainMain3-2 {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px 130px 130px;
  padding-top: 15px;
  padding-inline: 4%;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: rgb(210, 206, 206);
}

.menuPrevMainMain3-2Div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuPrevMainMain3-2Div1 p {
  font-size: 30px;
  font-family: poppins;
  font-weight: 600;
}

.menuPrevMainMain3-2Div1 small {
  font-size: 14px;
  font-family: poppins;
  color: rgb(93, 93, 93);
}

.menuPrevMainMain4 {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.menuPrevMainMain4-1 {
  height: 50px;
  padding-top: 15px;
}

.menuPrevMainMain4-1 p {
  font-size: 17px;
  font-family: poppins;
  font-weight: 600;
  margin-bottom: 5px;
  width: 130px;
}

.menuPrevMainMain4-2 {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px 130px 130px;
  padding-top: 15px;
  padding-inline: 4%;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: rgb(210, 206, 206);
}

.menuPrevMainMain4-2Div1 {
  display: flex;
  justify-content: center;
}

.menuPrevMainMain4-2Div1 small {
  font-size: 14px;
  font-family: poppins;
  color: rgb(93, 93, 93);
}

.menuPrevBottomHead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuPrevBottomHead p {
  font-size: 28px;
  font-family: poppins;
  font-weight: 600;
}

.menuPrevBottomMain {
  margin-top: 30px;
  margin-bottom: 100px;
  padding-inline: 4%;
}

.menuPrevBottomMain {
  display: grid;
  grid-template-columns: 265px 265px 265px 265px;
  justify-content: space-between;
}
